# My first Python code on Jupyter Lite

## How use pandas to read csv files

In [6]:
#importing package
import pandas as pd

In [7]:
#Read file
read_csv = pd.read_csv('countries.csv')

In [8]:
#Setting data set
df = pd.DataFrame(read_csv)

In [9]:
#Printing data set
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]